.home-title{
    margin-top: 16px;
}

.team-view {
    margin-top: 16px;
}

.home-image{

        margin-bottom:15px;
        
}

.card-team{
    margin:8px;
}

.img-team{
    height:60px;
    width:60px;
}

.home-page{
    margin-bottom:15px;
    margin-top:40px;
}